<div id="login" class="beforeLog">
  <div class="login-box">
      <form name="loginForm">
          <div class="user-name-input">
              <input type="text" name="username" [(ngModel)]="userName" placeholder="username" required>
              <!-- <div class="err-message" ng-show="loginForm.username.$touched && loginForm.username.$invalid">Enter User Name.</div> -->
          </div>
          <div class="login-btn">
              <button type="submit" class="btn btn-default" (click)="login()"
              >Submit</button>
          </div>
      </form>
      <div>Enter a git user name ( any )</div>
  </div>
  <!-- *ngIf="userList.length>0" -->
  <div class="login-box list-container" *ngIf="userList.length>0">
      <ul>
          <li *ngFor="let row of userList; let i=index;" routerLink="/home/{{i}}">
              <span>
                  <img src="{{row.avatar_url}}" style="height: 30px;width: 30px;" />
              </span>
              <span>{{row.login}}</span>
          </li>
      </ul>
  </div>
</div>